.knowledgeBaseContainer {
    max-width: var(--default-container-width);
    margin: 5rem auto;
    padding: 1rem;
}

.knowledgeBaseContainer > h1 {
    text-align: center;
    color: var(--dark-grey);
}

.loading {
    max-width: var(--default-container-width);
    margin: 0 auto;
}