.knowledgeBaseContainer {
    max-width: var(--default-container-width);
    margin: 0 auto;
    padding: 1rem;
}

.knowledgeBaseContainer > h1 {
    text-align: center;
    color: var(--dark-brown);
}