.supportRequestContainer {
    max-width: var(--default-container-width);
    margin: 0 auto;
    padding: 1rem;
}

.supportRequestContainer > h1 {
    text-align: center;
    color: var(--dark-brown);
}
.contactContainer
{
    display: flex;
}
.contactImage
{
    display:block;
}

.Banner{
    background-color: var(--ifm-color-primary);
    margin: 0
}