:root {
    --faqColor: #848484;
}

.faqItemContainer {
    border: 1px solid var(--faqColor);
    padding: 1rem;
    margin-bottom: 2rem;
}

.faqItemQuestion {
    position: absolute;
    font-weight: bold;
    color: var(--faqColor);
}

.faqItemAnswer {
    color: var(--faqColor);
    padding-top: 1rem;
    width: 75%;
}