.faqItemContainer {
    border: 1px solid #000000;
    padding: 1rem;
    margin-bottom: 2rem;
}

.faqItemQuestion {
    font-weight: bold;
    position: absolute;
}

.faqItemAnswer {
    padding-top: 1rem;
}

.faqItemHeader {
    display: flex;
    justify-content: space-between;
}

.trigger {
    cursor: pointer;
    /* position: relative;    
    left: 96%;
    bottom: 46px; */
}

.openCloseIcon span {
    width: 2.5rem;
    height: 0.25rem;
    display: block;
    margin-bottom: 0.375rem;
    border-radius: 6.25rem;
    background-color: #F9E9D2;
    transition: all 0.5s ease;
}