.supportRequest {
  margin: 3rem 0;
  background-color: #8ccfb5;
  height: auto;
  padding: 5rem 2rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
}

.supportRequest>h2 {
  font-size: 2rem;
  color: var(--dark-brown);
  text-align: left;
}

.supportRequest>button {
  background-color: var(--ifm-color-primary-darkest);
  cursor: pointer;
  border: none;
  color: var(--off-white);
  padding: 1rem 2rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.25rem;
  border-radius: 0.625rem;
  width: auto;
  margin: auto;
  transition: all 0.5s;
}

.supportRequest>button:hover {
  background-color: #398864;
  border: none;
  color: var(--off-white);
  padding: 1rem 2rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.25rem;
  border-radius: 10px;
  width: auto;
  margin: auto;
  transition: all 0.5s;
}